<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in">
        <a href="https://itsmychit.com/"
          ><img
            src="assets/img/about.png"
            class="img-fluid"
            alt=""
            width="100%"
        /></a>
      </div>
      <div
        class="col-lg-6 d-flex flex-column justify-contents-center"
        data-aos="fade-left"
      >
        <div class="content pt-4 pt-lg-0">
          <h3>A complete online Chit Management Platform</h3>
          <p class="font-italic">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
            eiusmod tempor incididunt ut labore et dolore magna aliqua.
          </p>
          <ul>
            <li>
              <i class="icofont-check-circled"></i> Ullamco laboris nisi ut
              aliquip ex ea commodo consequat.
            </li>
            <li>
              <i class="icofont-check-circled"></i> Duis aute irure dolor in
              reprehenderit in voluptate velit.
            </li>
            <li>
              <i class="icofont-check-circled"></i> Ullamco laboris nisi ut
              aliquip ex ea commodo consequat. Duis aute irure dolor in
              reprehenderit in voluptate trideta storacalaperd
            </li>
          </ul>
          <p>
            Ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
            irure dolor in reprehenderit in voluptate tera noden carma palorp
            mades tera.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
