<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-6" data-aos="zoom-in">
        <div class="col-xs-6" data-aos="zoom-in" style="text-align: center">
          <a href="/"
            ><img
              src="assets/img/namodri.png"
              class="img-fluid"
              alt=""
              width="100%"
              style="max-width: 300px; padding: auto"
          /></a>
        </div>
        <div class="col-xs-6" data-aos="zoom-in" style="text-align: center">
          <a href="https://itsmychit.com/"
            ><img
              src="assets/img/itsmychit.png"
              class="img-fluid"
              alt=""
              width="100%"
              style="max-width: 300px; padding: auto"
          /></a>
        </div>
      </div>
      <div
        class="col-lg-6 d-flex flex-column justify-contents-center"
        data-aos="fade-left"
      >
        <div class="content pt-4 pt-lg-0">
          <h3>About Us</h3>
          <p class="font-italic">
            This superior chit fund experience is powered by ItsMyChit
            technology platform. ItsMyChit is a unique chit fund management
            solution, committed to make chit funds
          </p>
          <ul>
            <li><i class="icofont-check-circled"></i> Transparent</li>
            <li><i class="icofont-check-circled"></i> Convenient</li>
            <li><i class="icofont-check-circled"></i> Secure</li>
          </ul>
          <p>
            By partnering with ItsMyChit, Namodri brings you an awesome
            experience starting from finding a chit that best fits your
            requirements to all the way to online payments, online auctions,
            transparency of prize settlements and complete chit details as and
            when you need it at our fingertips.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
