<div class="seo">
  <div class="section-heading">
    <h2>Chit Fund Calculator</h2>
  </div>
  <div class="slider">
    <div class="slider-count">
      <div>
        <p>Total Amount</p>
        <span id="summa"></span>
      </div>
      <div>
        <p>Interest</p>
        <span id="percent"></span>
      </div>
      <div>
        <p>Tenure</p>
        <span id="data"></span>
      </div>
    </div>
    <div class="slider-block">
      <div id="slider-money"></div>
    </div>
    <div class="slider-block">
      <div id="slider-date"></div>
    </div>
  </div>
  <div class="section-return-info">
    <span>Your wealth will be : </span>
    <span id="return"></span>
    <span>by</span>
    <span id="returnDate"></span>
  </div>
</div>
