<section id="contact" class="contact section-bg">
  <div class="container" data-aos="fade-up">
    <div class="section-title">
      <h2>Contact</h2>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <div class="info-box mb-4">
          <i class="bx bx-map"></i>
          <h3>Our Address</h3>
          <p>H.No 3-8-137, Chandrapuri Colony, L.B.Nagar, Hyderbad</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-envelope"></i>
          <h3>Email Us</h3>
          <p>praneeth@techpranee.com</p>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="info-box mb-4">
          <i class="bx bx-phone-call"></i>
          <h3>Call Us</h3>
          <p>+91 7032160008</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-lg-6">
        <iframe
          class="mb-4 mb-lg-0"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3808.365243929265!2d78.55442481486868!3d17.346149188103286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bcb98af3d89d65b%3A0xd61d6bc21d9c8441!2s3-8-51%2F1%2C%20Saraswati%20Nagar%2C%20Chandrapuri%20Colony%2C%20L.%20B.%20Nagar%2C%20Hyderabad%2C%20Telangana%20500070!5e0!3m2!1sen!2sin!4v1588844820441!5m2!1sen!2sin"
          frameborder="0"
          style="border: 0; width: 100%; height: 384px"
          allowfullscreen
        ></iframe>
      </div>

      <div class="col-lg-6">
        <form
          action="/connect"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                placeholder="Your Name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Your Email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 form-group">
              <input
                type="number"
                name="phone"
                class="form-control"
                id="phone"
                placeholder="Your Contact Number"
                data-rule="minlen:10"
                data-msg="Please enter at least 10 numbers"
              />
              <div class="validate"></div>
            </div>
            <div class="col-md-6 form-group">
              <input
                type="text"
                class="form-control"
                name="service"
                id="service"
                placeholder="Service you're Interested In ?"
              />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <textarea
              class="form-control"
              name="message"
              rows="5"
              data-rule="required"
              data-msg="Please write something for us"
              placeholder="Message"
            ></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
