<section id="contact" class="contact section-bg">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Contact Us</h2>
    </div>

    <div class="row">
      <div class="col-xs-12 mt-5 mt-lg-1 d-flex mx-auto" data-aos="fade-left">
        <a
          href="https://api.whatsapp.com/send?phone=918096335448&text=I%20am%20looking%20for%20chit%20fund%20related%20information."
          target="_blank"
        >
          <img src="assets/img/whatsapp.png" alt="" width="150px" />
        </a>
        <!-- <form
          action="/connect"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea
              class="form-control"
              name="message"
              rows="2"
              data-rule="required"
              data-msg="Please write something for us"
            ></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form> -->
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 mt-5 mt-lg-1 d-flex mx-auto" data-aos="fade-left">
        <a
          href="https://play.google.com/store/apps/details?id=com.cloudangle.itsmychit&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          ><img
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
            width="300px"
        /></a>
        <!-- <form
          action="/connect"
          method="post"
          role="form"
          class="php-email-form"
        >
          <div class="form-row">
            <div class="form-group col-md-6">
              <label for="name">Your Name</label>
              <input
                type="text"
                name="name"
                class="form-control"
                id="name"
                data-rule="minlen:4"
                data-msg="Please enter at least 4 chars"
              />
              <div class="validate"></div>
            </div>
            <div class="form-group col-md-6">
              <label for="name">Your Email</label>
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                data-rule="email"
                data-msg="Please enter a valid email"
              />
              <div class="validate"></div>
            </div>
          </div>
          <div class="form-group">
            <label for="name">Subject</label>
            <input
              type="text"
              class="form-control"
              name="subject"
              id="subject"
              data-rule="minlen:4"
              data-msg="Please enter at least 8 chars of subject"
            />
            <div class="validate"></div>
          </div>
          <div class="form-group">
            <label for="name">Message</label>
            <textarea
              class="form-control"
              name="message"
              rows="2"
              data-rule="required"
              data-msg="Please write something for us"
            ></textarea>
            <div class="validate"></div>
          </div>
          <div class="mb-3">
            <div class="loading">Loading</div>
            <div class="error-message"></div>
            <div class="sent-message">
              Your message has been sent. Thank you!
            </div>
          </div>
          <div class="text-center">
            <button type="submit">Send Message</button>
          </div>
        </form> -->
      </div>
    </div>
  </div>
</section>
