<section id="cta" class="cta">
  <div class="container">
    <div class="row" data-aos="zoom-in">
      <div class="col-md-9 text-center text-lg-left">
        <h3>Download our App</h3>
        <p>Participate in our online bidding platform</p>
      </div>
      <div class="col-md-3 cta-btn-container text-center">
        <a
          href="https://play.google.com/store/apps/details?id=com.cloudangle.itsmychit&pcampaignid=pcampaignidMKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1"
          ><img
            alt="Get it on Google Play"
            src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png"
            width="80%"
        /></a>
      </div>
    </div>
  </div>
</section>
