<section id="faq" class="faq">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Frequently Asked Questions</h2>
    </div>

    <ul class="faq-list">
      <li data-aos="fade-up">
        <a data-toggle="collapse" class="" href="#faq1"
          >1. Are chit funds legal? <i class="icofont-simple-up"></i
        ></a>
        <div id="faq1" class="collapse show" data-parent=".faq-list">
          <p>
            Yes, chit funds are 100% legal in India if it is Govt registered. We
            at Namodri, ensure our members security with utmost importance.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="100">
        <a data-toggle="collapse" href="#faq2" class="collapsed"
          >2. Where can I get the information about chit groups availability?
          <i class="icofont-simple-up"></i
        ></a>
        <div id="faq2" class="collapse" data-parent=".faq-list">
          <p>
            Download and install ItsMyChit App from Google Play Store, Sign-up
            with “NAMODRI” referral code. Browse through registering chits,
            complete your Basic KYC online to become a member.
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="200">
        <a data-toggle="collapse" href="#faq3" class="collapsed"
          >3. Are auctions transparent and fair? Do I get to see my dividends?
          <i class="icofont-simple-up"></i
        ></a>
        <div id="faq3" class="collapse" data-parent=".faq-list">
          <p>
            Absolutely, auctions are 100% transparent and fair. You get to see
            your dividends earned right after the auction is complete… in fact,
            as and when a bid is placed. Thanks to the power of technology!
          </p>
        </div>
      </li>

      <li data-aos="fade-up" data-aos-delay="300">
        <a data-toggle="collapse" href="#faq4" class="collapsed"
          >4. When would I receive the prize? <i class="icofont-simple-up"></i
        ></a>
        <div id="faq4" class="collapse" data-parent=".faq-list">
          <p>
            If you are already a Full KYC Verified member it is usually within a
            few hours after the winner is announced in the auction.. If your
            Full KYC is not yet complete, and the chit is in early stages of
            completion then we settle the prizes as per below commitment. 
            <ul>
              <li>20% of
                the winning amount within a few hours of the auction complete, Basic
                KYC should have been successfully verified. </li>
              <li>30% of the winning
                amount on receiving the Full KYC, Security cheque, Bank statement
                and other required documentation.</li>
              <li>50% of the winning amount on
                successful verification of the Full KYC.</li>
            </ul>
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
