<section id="features" class="features">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 mt-2 mb-tg-0 order-2 order-lg-1">
        <ul class="nav nav-tabs flex-column">
          <li class="nav-item" data-aos="fade-up">
            <a class="nav-link active show" data-toggle="tab" href="#tab-1">
              <h4>Trust of Namodri Brand</h4>
              <p>
                Namodri is well known for its quality service in real estate,
                retail mercantile services. We are known for our customer
                centric approach and an outstanding support.
              </p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="100">
            <a class="nav-link" data-toggle="tab" href="#tab-2">
              <h4>Transparency</h4>
              <p>
                We bring you everything open and fair. So you may decide with a
                lot more confidence now.
              </p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="200">
            <a class="nav-link" data-toggle="tab" href="#tab-3">
              <h4>Convenience</h4>
              <p>
                You need to step out of your comfort, all of it at your own
                comfortable place, time.
              </p>
            </a>
          </li>
          <li class="nav-item mt-2" data-aos="fade-up" data-aos-delay="300">
            <a class="nav-link" data-toggle="tab" href="#tab-4">
              <h4>Secure</h4>
              <p>
                We are now powered by technology experts from Banking, Financial
                domains at international standards.
              </p>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in">
        <div class="tab-content">
          <div class="tab-pane active show" id="tab-1">
            <figure>
              <img src="assets/img/portfolio/5.jpg" alt="" class="img-fluid" />
            </figure>
          </div>
          <div class="tab-pane" id="tab-2">
            <figure>
              <img src="assets/img/portfolio/1.jpg" alt="" class="img-fluid" />
            </figure>
          </div>
          <div class="tab-pane" id="tab-3">
            <figure>
              <img src="assets/img/portfolio/4.png" alt="" class="img-fluid" />
            </figure>
          </div>
          <div class="tab-pane" id="tab-4">
            <figure>
              <img
                src="assets/img/portfolio/secure.png"
                alt=""
                class="img-fluid"
              />
            </figure>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
