<section id="features" class="features">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Standard Practices</h2>
            <p>We have experience creating various Applications. Out preffered stack for development is Javascript based
                -
                NodeJs, React, React Native, MongoDB, MySql, ExpressJs and more</p>
        </div>

        <div class="row">
            <div class="col-lg-6 order-2 order-lg-1 d-flex flex-column align-items-lg-center">
                <div class="icon-box mt-5 mt-lg-0" data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-receipt"></i>
                    <h4>Application Development</h4>
                    <p> We do Component wise Development, so you have a more sustainable application </p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-cube-alt"></i>
                    <h4>User Experience</h4>
                    <p>Standard Libraries are used to make efficient and attractive User Experience</p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-images"></i>
                    <h4>Media Management</h4>
                    <p>We have experience ta handle various media types and sizes to help your create visually rich
                        experience
                    </p>
                </div>
                <div class="icon-box mt-5" data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-shield"></i>
                    <h4>Security</h4>
                    <p>Secure payment services and privacy for your information & products</p>
                </div>
            </div>
            <div class="image col-lg-6 order-1 order-lg-2 " data-aos="zoom-in" data-aos-delay="100">
                <img src="assets/img/features.svg" alt="" class="img-fluid">
            </div>
        </div>

    </div>
</section>