<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="footer-info">
            <h3>Namodri Chit Funds Pvt. Ltd.</h3>
            <div class="contact">
              <div class="info">
                <div class="address">
                  <i class="icofont-google-map"></i>
                  <h4>Location:</h4>
                  <p>
                    Plot no 78 & 79,<br />
                    Press Colony, South end Park, <br />Near Govt hospital,
                    Mansoorabad 500068<br />
                    Hyderbad <br /><br />
                  </p>
                </div>

                <div class="email">
                  <i class="icofont-envelope"></i>
                  <h4>Email:</h4>
                  <p>support@namodri.com</p>
                </div>

                <div class="phone">
                  <i class="icofont-phone"></i>
                  <h4>Call:</h4>
                  <p>+91 8096335448</p>
                </div>
              </div>
            </div>
            <!-- <div class="social-links mt-3">
              <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
              <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
              <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
              <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
              <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
            </div> -->
          </div>
        </div>

        <div class="col-lg-6 col-md-12 footer-links">
          <h4>Useful Links</h4>
          <ul>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
            <li>
              <i class="bx bx-chevron-right"></i> <a href="#">About us</a>
            </li>
            <li><i class="bx bx-chevron-right"></i> <a href="#">Schemes</a></li>
            <!-- <li>
              <i class="bx bx-chevron-right"></i>
              <a href="#">Terms and Conditions</a>
            </li> -->
            <li><i class="bx bx-chevron-right"></i> <a href="#">Contact</a></li>
          </ul>
        </div>
        <!-- <div class="col-lg-3 col-md-6 footer-links">
          <h4>Government of India recongnised</h4>
          <a
            href="assets/img/certificate.png"
            data-gall="portfolioGallery"
            class="venobox"
            title="certificate of incorporation"
            ><img src="assets/img/certificate.png" alt="" height="200px"
          /></a>
        </div> -->
      </div>
    </div>
  </div>

  <div class="container">
    <div class="copyright">
      &copy; Copyright <strong><span>Namodri</span></strong
      >. All Rights Reserved
    </div>
    <div class="credits">
      Designed by
      <img
        src="https://techpranee.com/assets/img/techpranee_logo.png"
        alt="techpranee"
        width="25px"
      />
      <a href="https://techpranee.com/">Tech Pranee</a>
    </div>
  </div>
</footer>
