<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Namodri - Chit Funds</title>
  <meta
    content="Namodri Chit Funds Private Limited"
    name="description"
  />
  <meta
    content="Chit Funds, Loans and Micro Finance"
    name="keywords"
  />

  <!-- Google Fonts -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet"> -->

  <!-- Vendor CSS Files -->

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link
    href="assets/vendor/icofont/icofont.min.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/boxicons/css/boxicons.min.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/venobox/venobox.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/aos/aos.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />


  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
  <link rel="manifest" href="/site.webmanifest" />
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#885bd5" />
  <meta name="msapplication-TileColor" content="#da532c" />
  <meta name="theme-color" content="#ffffff" />
</head>
