<head>
  <meta charset="utf-8" />
  <meta content="width=device-width, initial-scale=1.0" name="viewport" />

  <title>Namodri - Chit Funds</title>
  <meta content="Namodri Chit Funds Private Limited" name="description" />
  <meta content="Chit Funds, Loans and Micro Finance" name="keywords" />

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link
    href="https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap"
    rel="stylesheet"
  />
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com/">
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet"> -->

  <!-- Vendor CSS Files -->

  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
  <link
    href="assets/vendor/icofont/icofont.min.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/boxicons/css/boxicons.min.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/owl.carousel/assets/owl.carousel.min.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/venobox/venobox.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />
  <link
    href="assets/vendor/aos/aos.css"
    rel="preload"
    as="style"
    onload="this.rel='stylesheet'"
  />

  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet" />
  <link href="/assets/css/calculator.css" rel="stylesheet" />

  <!-- Favicons -->
  <link
    rel="apple-touch-icon"
    sizes="57x57"
    href="/assets/img/favicons/apple-icon-57x57.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="60x60"
    href="/assets/img/favicons/apple-icon-60x60.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="72x72"
    href="/assets/img/favicons/apple-icon-72x72.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="76x76"
    href="/assets/img/favicons/apple-icon-76x76.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="114x114"
    href="/assets/img/favicons/apple-icon-114x114.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="120x120"
    href="/assets/img/favicons/apple-icon-120x120.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="144x144"
    href="/assets/img/favicons/apple-icon-144x144.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="152x152"
    href="/assets/img/favicons/apple-icon-152x152.png"
  />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/img/favicons/apple-icon-180x180.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="192x192"
    href="/assets/img/favicons/android-icon-192x192.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="32x32"
    href="/assets/img/favicons/favicon-32x32.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="96x96"
    href="/assets/img/favicons/favicon-96x96.png"
  />
  <link
    rel="icon"
    type="image/png"
    sizes="16x16"
    href="/assets/img/favicons/favicon-16x16.png"
  />
  <link rel="manifest" href="/assets/img/favicons/manifest.json" />
  <meta name="msapplication-TileColor" content="#ffffff" />
  <meta
    name="msapplication-TileImage"
    content="/assets/img/favicons/ms-icon-144x144.png"
  />
  <meta name="theme-color" content="#ffffff" />
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=UA-179475907-1"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "UA-179475907-1");
  </script>
</head>
