<section id="portfolio" class="portfolio">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Portfolio</h2>
            <p>Below are some completed projects by TechPranee</p>
        </div>

        <div class="row portfolio-container">

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-1.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Bestmom</h4>
                        <p>Blog - CMS</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-1.png" data-gall="portfolioGallery" class="venobox"
                            title="App 1"><i class="bx bx-plus"></i></a>
                        <a href="https://bestmom.org" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-web">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-2.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Mind Spring</h4>
                        <p>Corporate</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-2.png" data-gall="portfolioGallery" class="venobox"
                            title="Web 3"><i class="bx bx-plus"></i></a>
                        <a href="https://magnetics.co.in" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-3.jpg" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Music Player</h4>
                        <p>Android</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-3.jpg" data-gall="portfolioGallery" class="venobox"
                            title="App 2"><i class="bx bx-plus"></i></a>
                        <a href="" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 portfolio-item filter-card">
                <div class="portfolio-wrap">
                    <img src="assets/img/portfolio/portfolio-4.png" class="img-fluid" alt="">
                    <div class="portfolio-info">
                        <h4>Medic Safe</h4>
                        <p>Web Database</p>
                    </div>
                    <div class="portfolio-links">
                        <a href="assets/img/portfolio/portfolio-4.png" data-gall="portfolioGallery" class="venobox"
                            title="Card 2"><i class="bx bx-plus"></i></a>
                        <a href="https://www.medicsafe.net/" title="More Details"><i class="bx bx-link"></i></a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>