<section id="pricing" class="pricing section-bg">
    <div class="container" data-aos="fade-up">

        <div class="section-title">
            <h2>Pricing</h2>
            <p>Below are tentative pricing strategies that we follow. Please contact us for detailed quote</p>
        </div>

        <div class="row">

            <div class="col-lg-3 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <div class="box">
                    <h3>Free</h3>
                    <h4><sup>₹</sup>0<span></span></h4>
                    <ul>
                        <li>Consultation</li>
                        <li>Design Templating</li>
                        <li>Prototype Creation</li>
                        <li class="na">Development</li>
                        <li class="na">Hosting</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:+917032160008" class="btn-buy">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-md-0" data-aos="fade-up" data-aos-delay="200">
                <div class="box featured">
                    <h3>Corporate</h3>
                    <h4><sup>₹</sup>20k<span> / year</span></h4>
                    <ul>
                        <li>Website Development</li>
                        <li>Unlimited Pages</li>
                        <li>Hosting</li>
                        <li>Updates & Revisions</li>
                        <li class="na">Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:+917032160008" class="btn-buy">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="300">
                <div class="box">
                    <h3>Blog & CMS</h3>
                    <h4><sup>₹</sup>50k<span> / site</span></h4>
                    <ul>
                        <li>Website Development</li>
                        <li>Admin Panel</li>
                        <li>Editor</li>
                        <li>Database</li>
                        <li>Hosting</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:+917032160008" class="btn-buy">Know More</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
                <div class="box">
                    <span class="advanced"> add-on</span>
                    <h3>Marketing</h3>
                    <h4><sup>₹</sup>5k<span> / month</span></h4>
                    <ul>
                        <li>Digital Marketing</li>
                        <li>SEO Optimisation</li>
                        <li>Social Media Optimisation </li>
                        <li>Content Creation</li>
                        <li>Ads creation</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:+917032160008" class="btn-buy">Know More</a>
                    </div>
                </div>
            </div>

        </div>
        <p>For other requirements please <a href="tel:+917032160008">contact us</a></p>
    </div>
</section>