<section id="pricing" class="pricing section-bg">
    <div class="container">

        <div class="section-title" data-aos="fade-up">
            <h2>Schemes</h2>
            <p>Namodri Chit funds offers the following schemes of chits, where the bidding can take place either daily,
                weekly or monthly</p>
        </div>

        <div class="row">

            <div class="col-lg-4 col-md-6">
                <div class="box" data-aos="zoom-in">
                    <h3>Daily</h3>
                    <h4><sup>₹</sup>1k - 1.5 Lac<span></span></h4>
                    <ul>
                        <li>Min Duration : 10 months</li>
                        <li>Max Duration : 50 months</li>
                        <!-- <li>Nulla at volutpat dola</li>
                        <li class="na">Pharetra massa</li>
                        <li class="na">Massa ultricies mi</li> -->
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:918096335448" class="btn-buy">Apply Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="100">
                    <h3>Weekly</h3>
                    <h4><sup>₹</sup>20k-2.0 Lac<span></span></h4>
                    <ul>
                        <li>Min Duration : 20 months</li>
                        <li>Max Duration : 50 months</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:918096335448" class="btn-buy">Apply Now</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
                <div class="box featured" data-aos="zoom-in" data-aos-delay="200">
                    <h3>Monthly</h3>
                    <h4><sup>₹</sup>25k - 10.0 Lac<span></span></h4>
                    <ul>
                        <li>Min Duration : 20 months</li>
                        <li>Max Duration : 40 months</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="tel:918096335448" class="btn-buy">Apply Now</a>
                    </div>
                </div>
            </div>

            <!-- <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
                <div class="box" data-aos="zoom-in" data-aos-delay="300">
                    <span class="advanced">Advanced</span>
                    <h3>Ultimate</h3>
                    <h4><sup>$</sup>49<span> / month</span></h4>
                    <ul>
                        <li>Aida dere</li>
                        <li>Nec feugiat nisl</li>
                        <li>Nulla at volutpat dola</li>
                        <li>Pharetra massa</li>
                        <li>Massa ultricies mi</li>
                    </ul>
                    <div class="btn-wrap">
                        <a href="#" class="btn-buy">Buy Now</a>
                    </div>
                </div>
            </div> -->

        </div>

    </div>
</section>