<section id="testimonials" class="testimonials">
  <div class="container">
    <div class="section-title" data-aos="fade-up">
      <h2>Testimonials</h2>
      <p>Here are some glimpses of our customer’s experiences with us.</p>
    </div>

    <div
      class="owl-carousel testimonials-carousel"
      data-aos="fade-up"
      data-aos-delay="100"
    >
      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          I was very new chit funds, did not know much about the application
          too. Naveen from Namodri chits was patient enough to explain
          everything to me in detail and helped me to understand the complete
          picture. Now, I am a very loyal customer of Namodri Chits. Thank you
          Namodri Chits for your patience and service.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img
          src="assets/img/testimonials/4.jpeg"
          class="testimonial-img"
          alt=""
        />
        <h3>Geetha Sagar</h3>
        <h4>Small business owner</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Namodri Chits has a very balanced portfolio of Weekly and Monthly
          Chits, it is offering me a flexibility of reaching my short-terms
          needs and long-term goals, I am feeling a lot more empowered than
          before as I have multiple options to choose from what I want.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img
          src="assets/img/testimonials/1.jpeg"
          class="testimonial-img"
          alt=""
        />
        <h3>Gummadi bhargav</h3>
        <h4>Software employee</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Return on my investments is very healthy with Namodri chits. With
          Namodri, your money is in safe hands and it grows at healthy and
          sustainable rates.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img
          src="assets/img/testimonials/2.jpeg"
          class="testimonial-img"
          alt=""
        />
        <h3>Pon Sennaiah</h3>
        <h4>Working professional and a business person</h4>
      </div>
      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Namodri has great flexible schemes that are very helpful not only to
          save money but get a great returns in mid-long term
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img
          src="assets/img/testimonials/3.jpeg"
          class="testimonial-img"
          alt=""
        />
        <h3>Manjula raghu ramreddy</h3>
        <h4>Working professional</h4>
      </div>

      <!-- <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Fugiat enim eram quae cillum dolore dolor amet nulla culpa multos
          export minim fugiat minim velit minim dolor enim duis veniam ipsum
          anim magna sunt elit fore quem dolore labore illum veniam.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img
          src="assets/img/testimonials/testimonials-4.jpg"
          class="testimonial-img"
          alt=""
        />
        <h3>Matt Brandon</h3>
        <h4>Freelancer</h4>
      </div>

      <div class="testimonial-item">
        <p>
          <i class="bx bxs-quote-alt-left quote-icon-left"></i>
          Quis quorum aliqua sint quem legam fore sunt eram irure aliqua veniam
          tempor noster veniam enim culpa labore duis sunt culpa nulla illum
          cillum fugiat legam esse veniam culpa fore nisi cillum quid.
          <i class="bx bxs-quote-alt-right quote-icon-right"></i>
        </p>
        <img
          src="assets/img/testimonials/testimonials-5.jpg"
          class="testimonial-img"
          alt=""
        />
        <h3>John Larson</h3>
        <h4>Entrepreneur</h4>
      </div> -->
    </div>
  </div>
</section>
